# dane i modele — sledzone przez DVC, nie git
/data/
!/data/.gitkeep

# MLflow
/mlruns/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# screenshoty — do githuba (jesli chcesz)
# /screens/
